@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #E5E7EB;
}
@keyframes heart-beat {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

.heart {
  display: inline-block;
  animation: heart-beat 1.2s infinite ease-in-out;
}
